body{
	font-family: Helvetica, Times;
	background-color:#000000;
}

#nav {
	width: 626px;
	height: 44px;
	height: 44px;
	width: 626px;
	position: fixed;
	top: 10px;
	left: 50%;
	cursor: not-allowed;
	background: url(../img/navigation_placeholder.png);
}
#offsetHelper{
	position:fixed;
	top: 50px;
	left: 50px;
	z-index:10;
	color: white;
	font-size: 16px;
	
	&:before{
		content:"yOff: ";
		color: white;
	}
}

#instruction-circle{
	position: fixed;
	height: 120px;
	width: 120px;
	padding: 50px;
	background-color: white;
	border-radius: 300px;
	left: 50%;
	bottom: 200px;
	
	p{
		display: block;
		margin: 10px auto;
		color: #000000;
		text-align: center;
	}
}

#skollr-menu-wrapper{
	position: fixed;
	top: 80px;
	left: 50px;
	padding: 5px;
	background: #333;

	li{
		border-bottom: 1px solid white;
		color: #FFF;
		&:last-child{
			border: 0;
		}

		&:hover{
			background: #FFF;
			color: #000;
		}
	}

	a{
		padding: 10px 15px;
		display: block;
		cursor: pointer;
		color: inherit;
		text-decoration: none;
	}
}


.background{
	height: 100%;
	width: 100%;
	z-index: 5;
}

.always-on-top{
	z-index: 1000;
}

.historyText{
	top: 30%;
	width: 400px;
	height: auto;
	color: black;
	h1{
		margin-bottom: 5px;
	}
	h2{
		margin-bottom: 5px;
	}
}

#railroadBackground{
	background: url(../img/background.jpg);
	background-repeat:no-repeat;

  	background-position: 50% 50%;

}

#railroadTrain{
	background: url(../img/train.png);
	width: 285px;
	height: 92px;	
    transition: margin 0.25s ease-out;
	
	&:hover{
		cursor:pointer;
	    margin-top: -10px;
	}
}


#oceanBackground{
	background: url(../img/background.jpg);
	background-repeat:no-repeat;

  	background-position: 50% 50%;
	
}

#oceanShip{
	background: url(../img/ship.png);
	width: 443px;
	height: 226px;
	top: 367px;
}

#water{
	background: url(../img/water.png);
	width: 2000px;
	height: 70px;
	top: 480px;
}

#bombs{
	background: url(../img/bombs.png);
	width: 133px;
	height: 95px;
	top: 0%;
	left: 100%;
}

#clouds{
	background: url(../img/clouds.png);
	width: 1000px;
	height: 261px;
	top: 25%;
	left: 100%;

}

