/* line 1, /Users/torsten/liemba/css/master.less */
body {
  font-family: Helvetica, Times;
  background-color: #a1d8dc;
}
/* line 6, /Users/torsten/liemba/css/master.less */
#home_icon {
  position: fixed;
  top: -40px;
  left: -40px;
  opacity: 0.4;
  z-index: 999;
}
/* line 13, /Users/torsten/liemba/css/master.less */
#home_icon:hover {
  opacity: 0.6;
}
/* line 16, /Users/torsten/liemba/css/master.less */
#infobox_icon {
  display: none;
  position: fixed;
  top: 100px;
  right: -50px;
  opacity: 0.4;
  z-index: 999;
}
/* line 24, /Users/torsten/liemba/css/master.less */
#infobox_icon:hover {
  opacity: 0.6;
}
/* line 27, /Users/torsten/liemba/css/master.less */
#overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 9999;
}
/* line 36, /Users/torsten/liemba/css/master.less */
#overlay #infobox {
  position: relative;
  height: auto;
  max-height: 750px;
  width: 700px;
  margin: 75px auto auto;
  color: #FFF;
  overflow: auto;
}
/* line 45, /Users/torsten/liemba/css/master.less */
#overlay #infobox h1 {
  font-size: 2.1em;
  margin: 20px auto;
}
/* line 49, /Users/torsten/liemba/css/master.less */
#overlay #infobox h1:first-child {
  margin-top: 0;
}
/* line 54, /Users/torsten/liemba/css/master.less */
#overlay #infobox h2 {
  font-size: 1.7em;
  margin: 5px auto;
}
/* line 59, /Users/torsten/liemba/css/master.less */
#overlay #infobox p {
  font-size: 1.45em;
  margin: 5px auto;
}
/* line 64, /Users/torsten/liemba/css/master.less */
#overlay #infobox #infobox_close {
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  font-size: 2.1em;
  cursor: pointer;
}
/* line 72, /Users/torsten/liemba/css/master.less */
#overlay #infobox #infobox_close:hover {
  color: #00809e;
}
/* line 80, /Users/torsten/liemba/css/master.less */
#navigation {
  position: fixed;
  bottom: 0px;
  left: 50%;
  margin-left: -117px;
  border: 3px;
}
/* line 89, /Users/torsten/liemba/css/master.less */
#scroll {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -183px;
  margin-top: -108px;
}
/* line 97, /Users/torsten/liemba/css/master.less */
#ende {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -120px;
  margin-top: -41px;
}
/* line 105, /Users/torsten/liemba/css/master.less */
#info {
  position: fixed;
  top: 0;
  right: 0;
}
/* line 111, /Users/torsten/liemba/css/master.less */
#sections-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 121, /Users/torsten/liemba/css/master.less */
#timeline-wrapper {
  position: fixed;
  width: 1080px;
  height: 60px;
  bottom: 5px;
  left: 50%;
  margin-left: -540px;
  background: #000;
  border-radius: 30px;
  opacity: 0.75;
  z-index: 999;
}
/* line 135, /Users/torsten/liemba/css/master.less */
#skollr-menu-wrapper {
  position: fixed;
  bottom: 5px;
  left: 50%;
  width: 1070px;
  margin-left: -535px;
  padding: 5px;
  background: #333;
}
/* line 145, /Users/torsten/liemba/css/master.less */
#skollr-menu-wrapper li {
  display: block;
  border-bottom: 1px solid white;
  color: #FFF;
  float: left;
}
/* line 150, /Users/torsten/liemba/css/master.less */
#skollr-menu-wrapper li:last-child {
  border: 0;
}
/* line 154, /Users/torsten/liemba/css/master.less */
#skollr-menu-wrapper li:hover {
  background: #FFF;
  color: #000;
}
/* line 160, /Users/torsten/liemba/css/master.less */
#skollr-menu-wrapper a {
  padding: 10px 15px;
  display: block;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
/* line 170, /Users/torsten/liemba/css/master.less */
.historyText {
  display: none;
}
/* line 174, /Users/torsten/liemba/css/master.less */
section {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  display: none;
  top: 0;
  left: 0;
}
/* line 184, /Users/torsten/liemba/css/master.less */
.story {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 768px;
  min-width: 1024px;
}
/* line 192, /Users/torsten/liemba/css/master.less */
#line {
  position: absolute;
  top: 40px;
  left: 25px;
  width: 1030px;
  height: 3px;
  background: #FFF;
}
/* line 202, /Users/torsten/liemba/css/master.less */
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #fff;
  line-height: 10px;
  text-align: center;
  background: white;
  overflow: hidden;
  top: -9px;
}
/* line 214, /Users/torsten/liemba/css/master.less */
.circle span {
  position: relative;
  font-size: 15px;
  top: -20px;
  left: -5px;
  color: white;
}
/* line 222, /Users/torsten/liemba/css/master.less */
.circle:hover {
  background: #00809e !important;
  overflow: visible !important;
}
/* line 228, /Users/torsten/liemba/css/master.less */
#circle1 {
  left: 0px;
}
/* line 229, /Users/torsten/liemba/css/master.less */
#circle2 {
  left: 20px;
}
/* line 230, /Users/torsten/liemba/css/master.less */
#circle3 {
  left: 60px;
}
/* line 231, /Users/torsten/liemba/css/master.less */
#circle4 {
  left: 80px;
}
/* line 232, /Users/torsten/liemba/css/master.less */
#circle4 {
  left: 100px;
}
/* line 233, /Users/torsten/liemba/css/master.less */
#circle5 {
  left: 120px;
}
/* line 234, /Users/torsten/liemba/css/master.less */
#circle6 {
  left: 140px;
}
/* line 235, /Users/torsten/liemba/css/master.less */
#circle7 {
  left: 160px;
}
/* line 236, /Users/torsten/liemba/css/master.less */
#circle8 {
  left: 180px;
}
/* line 237, /Users/torsten/liemba/css/master.less */
#circle9 {
  left: 200px;
}
/* line 238, /Users/torsten/liemba/css/master.less */
#circle10 {
  left: 220px;
}
/* line 239, /Users/torsten/liemba/css/master.less */
#circle11 {
  left: 240px;
}
/* line 240, /Users/torsten/liemba/css/master.less */
#circle12 {
  left: 260px;
}
/* line 241, /Users/torsten/liemba/css/master.less */
#circle13 {
  left: 340px;
}
/* line 242, /Users/torsten/liemba/css/master.less */
#circle14 {
  left: 370px;
}
/* line 243, /Users/torsten/liemba/css/master.less */
#circle15 {
  left: 505px;
}
/* line 244, /Users/torsten/liemba/css/master.less */
#circle16 {
  left: 600px;
}
/* line 245, /Users/torsten/liemba/css/master.less */
#circle17 {
  left: 680px;
}
/* line 246, /Users/torsten/liemba/css/master.less */
#circle18 {
  left: 800px;
}
/* line 247, /Users/torsten/liemba/css/master.less */
#circle19 {
  left: 930px;
}
/* line 248, /Users/torsten/liemba/css/master.less */
#circle20 {
  left: 1010px;
}
/* line 250, /Users/torsten/liemba/css/master.less */
#section-1 {
  background: url(../img/background_green.jpg);
  display: block;
}
/* line 251, /Users/torsten/liemba/css/master.less */
#section-2 {
  background: url(../img/background_orange.jpg);
}
/* line 252, /Users/torsten/liemba/css/master.less */
#section-3 {
  background: url(../img/background_blue.jpg);
}
/* line 253, /Users/torsten/liemba/css/master.less */
#section-4 {
  background: url(../img/background_red.jpg);
}
/* line 254, /Users/torsten/liemba/css/master.less */
#section-5 {
  background: url(../img/background_yellow.jpg);
}
