/* line 1, /Users/torsten/liemba/css/master.less */
body {
  font-family: Din, Helvetica, Arial;
  color: #FFF;
  background-color: #ecf0f1;
}
/* line 7, /Users/torsten/liemba/css/master.less */
.preload * {
  transition: none !important;
}
/* line 11, /Users/torsten/liemba/css/master.less */
#page-wrapper {
  width: 1024px;
  margin: 0 auto;
}
/* line 16, /Users/torsten/liemba/css/master.less */
#hotspot-prepare-dialog {
  display: none;
  position: absolute;
  padding: 10px;
  z-index: 10000;
  color: #000;
  background-color: #fff;
}
/* line 24, /Users/torsten/liemba/css/master.less */
#hotspot-prepare-dialog input,
#hotspot-prepare-dialog label {
  display: block;
  margin: 5px 0;
}
/* line 29, /Users/torsten/liemba/css/master.less */
#hotspot-prepare-dialog form {
  float: left;
}
/* line 33, /Users/torsten/liemba/css/master.less */
#hotspot-prepare-dialog #hotspot-prepare-dialog-close {
  float: right;
  text-align: center;
  line-height: 15px;
  border: 1px solid #000;
  width: 15px;
  height: 15px;
}
/* line 42, /Users/torsten/liemba/css/master.less */
#hotspot-confirm-dialog {
  position: absolute;
  display: none;
  top: 50px;
  left: 500px;
  z-index: 1000;
  font-size: 0.7em;
  padding: 10px 5px;
  background: #558535;
  border: 1px solid #FFF;
  outline: 1px solid #FFF;
  outline-offset: 1px;
  box-shadow: 0px 0px 10px 4px #444;
}
/* line 58, /Users/torsten/liemba/css/master.less */
#hotspot-create-anchor {
  display: none;
}
/* line 63, /Users/torsten/liemba/css/master.less */
#offsetHelper {
  position: fixed;
  top: 50px;
  left: 50px;
  color: black;
  font-size: 28px;
  z-index: 100000;
}
/* line 71, /Users/torsten/liemba/css/master.less */
#offsetHelper:before {
  content: "yOff: ";
  color: #000;
}
/* line 77, /Users/torsten/liemba/css/master.less */
.split {
  position: absolute;
  height: 200px;
  width: 100%;
  background: url(../img/retina_wood.png);
  color: #000;
}
/* line 84, /Users/torsten/liemba/css/master.less */
.split h1 {
  line-height: 100px;
  margin: 60px auto;
  text-align: center;
}
/*
	Minimap
*/
/* line 95, /Users/torsten/liemba/css/master.less */
#minimap {
  position: fixed;
  height: 218px;
  width: 218px;
  top: 20px;
  z-index: 200;
  background: url(../img/minimap.png);
}
@media all and (max-width: 1280px) {
  /* line 103, /Users/torsten/liemba/css/master.less */
  #minimap {
    right: 0px;
  }
}
@media all and (min-width: 1281px) and (max-width: 1440px) {
  /* line 104, /Users/torsten/liemba/css/master.less */
  #minimap {
    right: 4%;
  }
}
@media all and (min-width: 1441px) and (max-width: 1680px) {
  /* line 105, /Users/torsten/liemba/css/master.less */
  #minimap {
    right: 11%;
  }
}
@media all and (min-width: 1681px) and (max-width: 1919px) {
  /* line 106, /Users/torsten/liemba/css/master.less */
  #minimap {
    right: 16%;
  }
}
@media all and (min-width: 1920px) {
  /* line 107, /Users/torsten/liemba/css/master.less */
  #minimap {
    right: 20%;
  }
}
/* line 109, /Users/torsten/liemba/css/master.less */
#minimap #current-location {
  position: absolute;
  height: 18px;
  width: 30px;
  border: 2px dashed red;
  transform: translateX(78px) translateY(25px) scale(1, 1);
}
/*
	Navigation
*/
/* line 122, /Users/torsten/liemba/css/master.less */
#navigation {
  position: fixed;
  width: 130px;
  height: 264px;
  top: 30%;
  padding: 14px 16px;
  z-index: 200;
  background: #558535;
  border: 1px solid #FFF;
  outline: 1px solid #FFF;
  outline-offset: 1px;
  box-shadow: 0px 0px 10px 4px #444;
  margin-left: 25px;
}
@media all and (max-width: 1280px) {
  /* line 136, /Users/torsten/liemba/css/master.less */
  #navigation {
    left: 0px;
    margin-left: 0px;
  }
}
@media all and (min-width: 1281px) and (max-width: 1440px) {
  /* line 137, /Users/torsten/liemba/css/master.less */
  #navigation {
    left: 4%;
  }
}
@media all and (min-width: 1441px) and (max-width: 1680px) {
  /* line 138, /Users/torsten/liemba/css/master.less */
  #navigation {
    left: 11%;
  }
}
@media all and (min-width: 1681px) and (max-width: 1919px) {
  /* line 139, /Users/torsten/liemba/css/master.less */
  #navigation {
    left: 16%;
  }
}
@media all and (min-width: 1920px) {
  /* line 140, /Users/torsten/liemba/css/master.less */
  #navigation {
    left: 20%;
  }
}
/* line 143, /Users/torsten/liemba/css/master.less */
#navigation .navigation-anchor {
  height: 25px;
  background: url(../img/anchor.png) no-repeat;
  background-position: 38px 8px;
}
/* line 149, /Users/torsten/liemba/css/master.less */
#navigation #navigation-anchor-down {
  transform: rotate(180deg);
}
/* line 153, /Users/torsten/liemba/css/master.less */
#navigation ul {
  overflow: auto;
  margin: 0;
  list-style: none;
}
/* line 159, /Users/torsten/liemba/css/master.less */
#navigation #navigation-stops {
  height: 125px;
  padding: 0;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}
/* line 167, /Users/torsten/liemba/css/master.less */
#navigation #category-selection {
  padding-top: 11px;
  padding-left: 11px;
}
/* line 171, /Users/torsten/liemba/css/master.less */
#navigation #category-selection li {
  width: 16px;
  height: 16px;
  float: left;
  display: inline-block;
  margin: 3px 4px;
  padding: 6px;
  background: #96c185;
  border-radius: 90px;
  border: 1px solid #FFF;
  cursor: pointer;
}
/* line 183, /Users/torsten/liemba/css/master.less */
#navigation #category-selection li.itemsHidden {
  opacity: 0.2;
}
/* line 187, /Users/torsten/liemba/css/master.less */
#navigation #category-selection li.nyi {
  cursor: not-allowed;
}
/* line 192, /Users/torsten/liemba/css/master.less */
#navigation #category-selection img {
  position: relative;
}
/*
	Hotspots
*/
/* line 203, /Users/torsten/liemba/css/master.less */
.hotspots {
  position: absolute;
  width: 28px;
  height: 28px;
  border: 1px solid #FFF;
  outline: 1px solid #FFF;
  outline-offset: 1px;
  box-shadow: 0px 0px 5px 3px #444;
  z-index: 150;
  transition: all 0.4s ease-in-out;
}
/* line 215, /Users/torsten/liemba/css/master.less */
.hotspots h1,
.hotspots p {
  visibility: hidden;
  width: 320px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/* line 222, /Users/torsten/liemba/css/master.less */
.hotspots h1 {
  text-align: center;
  white-space: nowrap;
  margin: 0;
}
/* line 228, /Users/torsten/liemba/css/master.less */
.hotspots .hotspot-arrows {
  position: absolute;
  bottom: -14px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #FFF;
  transition: all 0.4s ease-in-out;
}
/* line 240, /Users/torsten/liemba/css/master.less */
.hotspots.extended {
  width: 320px;
  height: 180px;
  padding: 10px;
  white-space: normal;
}
/* line 246, /Users/torsten/liemba/css/master.less */
.hotspots.extended h1,
.hotspots.extended p {
  visibility: visible;
}
/* line 250, /Users/torsten/liemba/css/master.less */
.hotspots.extended .hotspot-arrows {
  opacity: 0;
}
/* line 256, /Users/torsten/liemba/css/master.less */
.hotspot.new-hotspot {
  background-color: red;
}
/* line 260, /Users/torsten/liemba/css/master.less */
.hotspots.placeholder {
  background: #ecf0f1 url(../img/hotspot_icons/placeholder.png) no-repeat;
}
/* line 264, /Users/torsten/liemba/css/master.less */
.hotspots.airports {
  background: #0b6e8e url(../img/hotspot_icons/airport.png) no-repeat;
}
/*
	Ships
*/
/* line 272, /Users/torsten/liemba/css/master.less */
.ships {
  position: absolute;
}
/* line 274, /Users/torsten/liemba/css/master.less */
.ship-big {
  height: 160px;
  width: 50px;
}
/* line 279, /Users/torsten/liemba/css/master.less */
.ship-small {
  height: 40px;
  width: 20px;
}
/* line 284, /Users/torsten/liemba/css/master.less */
#ship-1 {
  z-index: 101;
}
/* line 286, /Users/torsten/liemba/css/master.less */
#ship-2 {
  z-index: 104;
}
/* line 288, /Users/torsten/liemba/css/master.less */
#ship-3 {
  z-index: 106;
}
/*
	Maps
*/
/* line 294, /Users/torsten/liemba/css/master.less */
.map {
  position: relative;
}
/* line 298, /Users/torsten/liemba/css/master.less */
#map-wrapper {
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 20px 5px #888;
}
/* line 304, /Users/torsten/liemba/css/master.less */
#map-1 {
  background: url(../img/dummy_background.png);
  z-index: 100;
  height: 717px;
}
/* line 310, /Users/torsten/liemba/css/master.less */
#map-2 {
  background: url(../img/lake.png);
  z-index: 102;
  height: 1700px;
}
/* line 316, /Users/torsten/liemba/css/master.less */
#map-3 {
  background: url(../img/rumonge.png);
  z-index: 104;
  height: 1400px;
}
