#current-location{
    -skrollr-animation-name: minimapLocation;  
}
@-skrollr-keyframes  minimapLocation {
       0 { transform: translateX(75px) translateY(25px) scale(1,1); }
     100 { transform: translateX(75px) translateY(30px) scale(1,1); }
     320 { transform: translateX(75px) translateY(40px) scale(1,1); }
     530 { transform: translateX(80px) translateY(80px) scale(2,2); }
}

#ship-1 {
    -skrollr-animation-name: ship1;
}
@-skrollr-keyframes  ship1 {
     0 { transform: translateX(130px) translateY(-150px) rotate(-30deg);  }
    160 { transform: translateX(325px) translateY(320px) rotate(00deg); }
    200 { transform: translateX(325px) translateY(320px) rotate(00deg); }
    400 { transform: translateX(265px) translateY(570px) rotate(20deg); }
    600 { transform: translateX(235px) translateY(640px) rotate(20deg); }  
}

#split-1 {
    -skrollr-animation-name: split1;
}
@-skrollr-keyframes  split1 {
   320 { transform: translateY(0px );}
   530 { transform: translateY(-190px );}
}



#ship-2 {
    -skrollr-animation-name: ship2;
}
@-skrollr-keyframes  ship2 {
    530 { transform: translateX( 750px ) translateY( 350px ) rotate(0deg);  }
   1000 { transform: translateX( 760px ) translateY( 550px ) rotate(-5deg);  }
   1300 { transform: translateX( 750px ) translateY( 850px ) rotate(5deg);  }
   1400 { transform: translateX( 750px ) translateY( 950px ) rotate(0deg);  }
   1420 { transform: translateX( 750px ) translateY( 950px ) rotate(-20deg);  }
   1600 { transform: translateX( 780px ) translateY(1150px ) rotate(-20deg);  }
   1700 { transform: translateX( 810px ) translateY(1250px ) rotate(-20deg);  }
   1900 { transform: translateX( 850px ) translateY(1550px ) rotate(-20deg);  }
   
}

#split-2 {
    -skrollr-animation-name: split2;
}
@-skrollr-keyframes  split2 {
  1900 { transform: translateY( 0px);}
  2100 { transform: translateY(-200px);}
}

#ship-3 {
    -skrollr-animation-name: ship3;
}
@-skrollr-keyframes  ship3 {
  2100 { transform: translateX(350px) translateY(-170px) rotate(-10deg); }
}

#split-3 {
    -skrollr-animation-name: split3;
}
@-skrollr-keyframes  split3 {
  1900 { transform: translateY( 0px);}
  2100 { transform: translateY(-200px);}
}
