#story-1{
	
	*{
		position: absolute;
	}

	#ship-wrapper{
		position: relative;
		width: 400px;
		height: 563px;
		top: 15%;
		left: 15%;


		#schiffchen{
			z-index: 10;
		}
		.figur{
			transition: all 0.1s ease-in-out;
			position: absolute;
		}

		#figur-1{
			top: 0px;
			left: 29px;

			&:hover{ transform: translateY(-20px); }
			
		}

		#figur-2{
			right: 32px;
			top: -39px;

			&:hover{ transform: translateY(-20px); }
			
		}

		#figur-3{
			left: 84px;
			z-index: 3;
			top: -51px;

			&:hover{ transform: translateY(-20px); }
			
		}

		#welle{
			top: 446px;
			left: -65px;
			width: 533px;
			height: 113px;
			z-index: 10;
			background: url(../img/1/welle.gif);

			&:hover{ background: url(../img/1/welle1.png); }
		}
	} /* ship-wrapper */


	#erstePlaene{
		top: 10%;
		right: 10%;
	}
}

#story-6{
	
}