#story-1{
	
	*{
		position: absolute;
	}

	

	#ship-wrapper{
		position: relative;
		width: 400px;
		height: 563px;
		top: 15%;
		left: 15%;


		#schiffchen{
			z-index: 10;
		}
		.figur{
			transition: all 0.1s ease-in-out;
			position: absolute;
			z-index: 11;
		}

		#figur-1{
			top: 0px;
			left: 29px;

			&:hover{ transform: translateY(-20px); }
			
		}

		#figur-2{
			right: 70px;
			top: -39px;

			&:hover{ transform: translateY(-20px); }
			
		}

		#figur-3{
			left: 84px;
			z-index: 11;
			top: -51px;

			&:hover{ transform: translateY(-20px); }
			
		}

		#welle{
			top: 446px;
			left: -65px;
			width: 533px;
			height: 113px;
			z-index: 10;
			background: url(../img/1/welle.gif);

			&:hover{ background: url(../img/1/welle1.png); }
		}
	} /* ship-wrapper */


	#erstePlaene{
		top: 10%;
		right: 10%;
	}
}

#story-2{

	*{
		position: absolute;
	}

	#loesung1{
		position: relative;
		width: 880px;
		height: 660px;
		top: 50%;
		left: 50%;
		margin-left: -440px;
		margin-top: -330px;

		#title_2{
			top: -150px;
			left: 0px;
		}
		#fruechte_2{
			top: -250px;
			left: 50px;
		}
		#kreuz_2{
			top: 180px;
			left: 50px;
		}
		#or_2{
			top: 150px;
			left: 400px;
		}	
	}
	#loesung2{
		position: relative;
		width: 880px;
		height: 660px;
		top: 50%;
		left: 50%;
		margin-left: -440px;
		margin-top: -330px;

		#title2_2{
			top: -150px;
			right: 0px;
		}
		#dampfmaschine_2{
			bottom: 350px;
			right: -30px;
		}	
	}
}

#story-3{
	*{
		position: absolute;
	}

	#banner-wrapper_3{
		position: relative;
		width:750px;
		height:260px;
		top: 5%;
		left: 50%;
		margin-left: -375px;

		#banner_3{
			top: 25px;
			left: 0px;
		}
		
		#banner_text_3{
			top: 30px;
			left: 90px;
			width: 522px;
			height: 172px;
			background: url(../img/3/banner5.png);

			&:hover{ background: url(../img/3/banner6.png); }
		}
		
		#text_werft_3{
			top: 0px;
			left: 60px;
		}
	
	}

	#construction-wrapper_3{
		position: absolute;
		width: 650px;
		height: 450px;
		top: 50%;
		left: 50%;
		margin-left: -325px;
		margin-top: -225px;

		.element{
			transition: all 0.1s ease-in-out;
			position: absolute;
			z-index: 11;
		}

		#maschine_3{
			bottom: 0px;
			left: 0px;
			&:hover{ transform: translateY(-20px); }
		}
		#anker_3{
			bottom: 40%;
			left: 50px;
			&:hover{ transform: translateY(-20px); }
		}
		#fisch_3{
			top: 100px;
			left: 10px;
			&:hover{ transform: translateY(-20px); }
		}
		#rad_3{
			top: 60px;
			left: 3000px;
			&:hover{ transform: translateY(-20px); }
		}
		#schraube_3{
			top: 0px;
			left: 50%;
			&:hover{ transform: translateY(-20px); }
		}
		#schraube2_3{
			bottom: 100px;
			right: 380px;
			&:hover{ transform: translateY(-20px); }
		}
		#torpedo_3{
			top: 100px;
			right: 0px;
			&:hover{ transform: translateY(-20px); }
		}
		#uhr_3{
			bottom: 130px;
			right: 170px;
			&:hover{ transform: translateY(-20px); }
		}
		#wappen_3{
			top: 40px;
			right: 70%;
			&:hover{ transform: translateX(-20px); }
		}

	}
}

#story-4{
	*{
		position: absolute;
	}

	#karte-wrapper_4{
		position: relative;
		width: 500px;
		height: 600px;
		top: 50%;
		left: 50%;
		margin-left: -250px;
		margin-top: -300px;

		#karte_4{
			top: 0px;
			left: 0px;
		}
		#weg_4{
			top: 50px;
			left: -60px;
		}
		#bahn_4{
			top: 200px;
			left: 0px;
		
		}
		#menschen_4{
			top: 300px;
			right: 100px;
			
		}
	}
	#transport_4{
		top: 0%;
		left: 40%;
	}
	#text_4{
		top: 30%;
		right: 20%;
	}
	#text1_4{
		top: 20%;
		left: 20%;
	}

}

#story-5{
	*{
		position: absolute;
	}

	#content_5{
		position: relative;
		width: 850px;
		height: 560px;
		top: 50%;
		left: 50%;
		margin-left: -425px;
		margin-top: -280px;

		#kiste_5{
			right: 50px;
			bottom: 0px;
		}
		#telegramm_5{
			top: 100px;
			left: 100px;
		}
		#text_5{
			top: 0px;
			left: 200px;
		}
		#text1_5{
			bottom: 0px;
			left: 0px;
		}
		#fragezeichen_5{
			bottom: 0px;
			right: 0px;
			&:hover{ transform: translateX(-20px); }
		}

	}
}

#story-6{
	*{
		position: absolute;
	}

	#content-wrapper_6{

		position: relative;
		width: 850px;
		height: 560px;
		top: 50%;
		left: 50%;
		margin-left: -425px;
		margin-top: -280px;


		#aktie_6{
			top: 120px;
			left: 120px;
		}
		#faust_6{
			background: url(../img/6/faust2.png);
			top: 120px;
			left: 370px;
			width:314px;
			height: 276px;

			&:hover{
				background: url(../img/6/faust.png);
			}
		}
		#einladung_6{
			background: url(../img/6/einladung.png);
			top: 0px;
			left: 0px;
			width: 236px;
			height: 193px;

			&:hover{
				background: url(../img/6/einladung1.png);
			}
		}
		#briefmarke_6{
			top: 70px;
			right: 100px;
		}
		#siegel_6{
			left: 100px;
			top: 360px;
		}
		#afrsoldaten_6{
			left: 120px;
			top: 295px;
		}
	}
	#ship-wrapper_6{
		
		width: 530px;
		height: 220px;
		bottom: 20%;
		right: 10%;

		#schiff_6{
			right: 0px;
			bottom: 0px;
		}
		#sprechblase_6{
			top: 0px;
			right: 0px;
			&:hover{ transform: translateY(-20px); }
		}
	}
}	
#story-7{
	*{
		position: absolute;
	}
	#content_7{
		position: relative;
		width: 830px;
		height: 400px;
		top: 50%;
		left: 50%;
		margin-left: -415px;
		margin-top: -200px;

		#kanone_7{
			top: 100px;
			left: 0px;
		}
		#soldaten_7{
			right: 0px;
			top: 200px;
		}
		#sprechblase_7{
			top: 35px;
			left: 450px;
			&:hover{ transform: translateY(-20px); }
		}
		#ausrufezeichen_7{
			top: 20px;
			left: 40px;
			&:hover{ transform: translateY(-20px); }
		}


	}
	#title_7{
		top: 15%;
		left: 40%;
	}

}

#story-8{
	*{
		position: absolute;
	}

	#karte-wrapper_8{
		position: relative;
		width: 670px;
		height: 530px;
		top: 50%;
		left: 50%;
		margin-left: -335px;
		margin-top: -265px;

		#karte_8{
			top: 80px;
			left: 0px;
		}
		#bismarckburg_8{
			z-index: 9;
			left: 250px;
			top: -20px;
		}

		#burg_8{
			z-index: 10;
			top: 0px;
			left: 20px;
		}
		#welle_8{
			bottom: 0px;
			right: 0px;
		}
		
	}
	#schiff-wrapper_8{
		width: 500px;
		height: 400px;
		bottom: 20%;
		left: 0%;
		
		#schiff_8{
			left: 0px;
			bottom: 0px;
		}
		#sprechblase_8{
			right: 0px;
			top: 0px;
			&:hover{ transform: translateY(-20px); }
		}
	}
	
	#typo_8{
		bottom: 0%;
		left: 20%;
	}
}

#story-9{
	*{
		position: absolute;
	}
	#schiff-wrapper_9{
		position: relative;
		width: 710px;
		height: 530px;
		top: 50%;
		left: 50%;
		margin-left: -355px;
		margin-top: -265px;

		#schiff_9{
			top: 0px;
			left: 0px;
		}
		#wellen_9{
			left: 0px;
			bottom: 0px;
		}
	}
	#kampfeinsatz_9{
		top: 0%;
		left: 0%;
	}
	#soldaten_9{
		bottom: 0%;
		left: 0%;
	}
	#text_9{
		top: 0%;
		right: 0%;
	}
}

#story-10{
	*{
		position: absolute;
	}
	#content-wrapper_10{
		position: relative;
		width: 1000px;
		height: 650px;
		top: 50%;
		left: 50%;
		margin-left: -500px;
		margin-top: -325px;

		#flieger_10{
			top: 0px;
			right: 0px;
		}
		#kanonen_10{
			top: 20px;
			right: 0px;
		}

	}

	#schiff-wrapper_10{
		width: 560px;
		height: 500px;
		bottom: 10%;
		left: 0%;
	
		#schiff_10{
			bottom: 0px;
			left: 0px;
		}
		#explosion_10{
			bottom: 30px;
			left: 150px;
		}
	}
	#dorf_10{
		top: 0%;
		left: 0%;
	}

}
#story-11{
	*{
		position: absolute;
	}
	#ship_11{
		top: 40px;
		left: 150px;

	}
	#flag{
		top: 61px;
		left: 307px;

	}
	#bubble_11{
	top: 45px;
	left: 150px;
	}

	#the26juli{
	top: 52px;
	left: 169px;
	}

	#arrow_down_11{
	top: 272px;
	left: 126px;

	}
	#oil_big{
	top:260px;
	left: 169px;

	}
	#oilman{
	top:163px;
	left:582px;
	}
	#fish{
	top:550px;
	left:350px;
	}
	#sandbag1{
	top:567px;
	left:283px;
	}
	#sandbag2{
	top:466px;
	left:240px;
	}
	#sandbag3{
	top:508px;
	left:162px;
	}
	#sandbag4{
	top:407px;
	left:193px;
	}
	#bagropes{
	top:337px;
	left:192px;
	}
	

}

#story-12{
	
}

#story-13{

	*{
		position: absolute;
	}
	#man{
	top:-1px;
	left:230px;

	}
	#crane_left{

	top:-1px;
	left:220px;

	}
	#the16mars{
	top:57px;
	left:612px;

	}
	#arrows_up{
	top:46px;
	left:558px;

	}
	#flags{
	top:178px;
	left:170px;

	}
	#wire{
	top:2px;
	left:582px;

	}
	#ship_pickup_schief{
	top:85px;
	left:415px;

	}
	#great_britania{
	top:567px;
	left:385px;

	}


}

#story-14{
	
}

#story-15{
	*{
		position: absolute;
	}
	#no_15{


	}
	#ship_board{
	top:337px;
	left:192px;
	}
	#passingers{
	top:337px;
	left:192px;
	}
	#police{
	
	}
	#ship_15{
	
	}
	#fluchtlingstransport{
	top:337px;
	left:192px;
	}

}