/* line 1, /Users/torsten/liemba/css/story-styles.less */
#story-1 {
  /* ship-wrapper */

}
/* line 3, /Users/torsten/liemba/css/story-styles.less */
#story-1 * {
  position: absolute;
}
/* line 5, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper {
  position: relative;
  width: 400px;
  height: 563px;
  top: 15%;
  left: 15%;
}
/* line 12, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper #schiffchen {
  z-index: 10;
}
/* line 14, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper .figur {
  transition: all 0.1s ease-in-out;
  position: absolute;
  z-index: 11;
}
/* line 20, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper #figur-1 {
  width: 201px;
  height: 410px;
  top: 0px;
  left: 29px;
  overflow: hidden;
  background: url(../img/1/figur1.png);
}
/* line 28, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper #figur-1 img {
  position: relative;
  top: 200px;
  left: -180px;
}
/* line 34, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper #figur-1:hover {
  transform: translateY(-20px);
  overflow: visible;
}
/* line 41, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper #figur-2 {
  background: url(../img/1/figur2.png);
  left: 70px;
  top: -20px;
  width: 227px;
  height: 438px;
  overflow: hidden;
}
/* line 49, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper #figur-2 img {
  position: relative;
  font-size: 15px;
  top: -75px;
  left: 0px;
}
/* line 56, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper #figur-2:hover {
  transform: translateY(-20px);
  overflow: visible;
}
/* line 62, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper #figur-3 {
  background: url(../img/1/figur3.png);
  left: 160px;
  z-index: 11;
  top: 0px;
  width: 195px;
  height: 408px;
  overflow: hidden;
}
/* line 71, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper #figur-3 img {
  position: relative;
  font-size: 15px;
  top: 100px;
  left: 250px;
}
/* line 78, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper #figur-3:hover {
  transform: translateY(-20px);
  overflow: visible;
}
/* line 85, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper #welle {
  top: 446px;
  left: -65px;
  width: 533px;
  height: 113px;
  z-index: 10;
  background: url(../img/1/welle.gif);
}
/* line 93, /Users/torsten/liemba/css/story-styles.less */
#story-1 #ship-wrapper #welle:hover {
  background: url(../img/1/welle1.png);
}
/* line 97, /Users/torsten/liemba/css/story-styles.less */
#story-1 #erstePlaene {
  top: 10%;
  right: 10%;
}
/* line 105, /Users/torsten/liemba/css/story-styles.less */
#story-2 * {
  position: absolute;
}
/* line 108, /Users/torsten/liemba/css/story-styles.less */
#story-2 #loesung1 {
  position: relative;
  width: 880px;
  height: 660px;
  top: 50%;
  left: 50%;
  margin-left: -440px;
  margin-top: -330px;
}
/* line 117, /Users/torsten/liemba/css/story-styles.less */
#story-2 #loesung1 #title_2 {
  top: -150px;
  left: 0px;
}
/* line 121, /Users/torsten/liemba/css/story-styles.less */
#story-2 #loesung1 #fruechte_2 {
  top: -250px;
  left: 50px;
}
/* line 125, /Users/torsten/liemba/css/story-styles.less */
#story-2 #loesung1 #kreuz_2 {
  top: 180px;
  left: 50px;
}
/* line 129, /Users/torsten/liemba/css/story-styles.less */
#story-2 #loesung1 #or_2 {
  top: 150px;
  left: 400px;
}
/* line 134, /Users/torsten/liemba/css/story-styles.less */
#story-2 #loesung2 {
  position: relative;
  width: 880px;
  height: 660px;
  top: 50%;
  left: 50%;
  margin-left: -440px;
  margin-top: -330px;
}
/* line 143, /Users/torsten/liemba/css/story-styles.less */
#story-2 #loesung2 #title2_2 {
  top: -150px;
  right: 0px;
}
/* line 147, /Users/torsten/liemba/css/story-styles.less */
#story-2 #loesung2 #dampfmaschine_2 {
  bottom: 350px;
  right: -30px;
}
/* line 155, /Users/torsten/liemba/css/story-styles.less */
#story-3 * {
  position: absolute;
}
/* line 158, /Users/torsten/liemba/css/story-styles.less */
#story-3 #banner-wrapper_3 {
  position: relative;
  width: 750px;
  height: 260px;
  top: 5%;
  left: 50%;
  margin-left: -375px;
}
/* line 166, /Users/torsten/liemba/css/story-styles.less */
#story-3 #banner-wrapper_3 #banner_3 {
  top: 25px;
  left: 0px;
}
/* line 171, /Users/torsten/liemba/css/story-styles.less */
#story-3 #banner-wrapper_3 #banner_text_3 {
  top: 30px;
  left: 90px;
  width: 522px;
  height: 172px;
  background: url(../img/3/banner5.png);
}
/* line 178, /Users/torsten/liemba/css/story-styles.less */
#story-3 #banner-wrapper_3 #banner_text_3:hover {
  background: url(../img/3/banner6.png);
}
/* line 181, /Users/torsten/liemba/css/story-styles.less */
#story-3 #banner-wrapper_3 #text_werft_3 {
  top: 0px;
  left: 60px;
}
/* line 188, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 {
  position: absolute;
  width: 650px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin-left: -325px;
  margin-top: -225px;
}
/* line 197, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 * {
  transition: all 0.1s ease-in-out;
  position: absolute;
  z-index: 11;
}
/* line 203, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #maschine_3 {
  bottom: 0px;
  left: 0px;
}
/* line 206, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #maschine_3:hover {
  transform: translateY(-20px);
}
/* line 208, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #anker_3 {
  bottom: 40%;
  left: 50px;
}
/* line 211, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #anker_3:hover {
  transform: translateY(-20px);
}
/* line 213, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #fisch_3 {
  top: 100px;
  left: 10px;
}
/* line 216, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #fisch_3:hover {
  transform: translateY(-20px);
}
/* line 218, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #rad_3 {
  top: 60px;
  left: 3000px;
}
/* line 221, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #rad_3:hover {
  transform: translateY(-20px);
}
/* line 223, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #schraube_3 {
  top: 0px;
  left: 50%;
}
/* line 226, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #schraube_3:hover {
  transform: translateY(-20px);
}
/* line 228, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #schraube2_3 {
  bottom: 100px;
  right: 380px;
}
/* line 231, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #schraube2_3:hover {
  transform: translateY(-20px);
}
/* line 233, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #torpedo_3 {
  top: 100px;
  right: 0px;
}
/* line 236, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #torpedo_3:hover {
  transform: translateY(-20px);
}
/* line 238, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #uhr_3 {
  bottom: 130px;
  right: 170px;
}
/* line 241, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #uhr_3:hover {
  transform: translateY(-20px);
}
/* line 243, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #wappen_3 {
  top: 40px;
  right: 70%;
}
/* line 246, /Users/torsten/liemba/css/story-styles.less */
#story-3 #construction-wrapper_3 #wappen_3:hover {
  transform: translateX(-20px);
}
/* line 253, /Users/torsten/liemba/css/story-styles.less */
#story-4 * {
  position: absolute;
}
/* line 256, /Users/torsten/liemba/css/story-styles.less */
#story-4 #karte-wrapper_4 {
  position: relative;
  width: 500px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -300px;
}
/* line 265, /Users/torsten/liemba/css/story-styles.less */
#story-4 #karte-wrapper_4 #karte_4 {
  top: 0px;
  left: 0px;
}
/* line 269, /Users/torsten/liemba/css/story-styles.less */
#story-4 #karte-wrapper_4 #weg_4 {
  top: 50px;
  left: -60px;
}
/* line 273, /Users/torsten/liemba/css/story-styles.less */
#story-4 #karte-wrapper_4 #bahn_4 {
  top: 200px;
  left: 0px;
}
/* line 277, /Users/torsten/liemba/css/story-styles.less */
#story-4 #karte-wrapper_4 #menschen_4 {
  top: 400px;
  right: 0px;
}
/* line 282, /Users/torsten/liemba/css/story-styles.less */
#story-4 #transport_4 {
  top: 0%;
  left: 40%;
}
/* line 286, /Users/torsten/liemba/css/story-styles.less */
#story-4 #text_4 {
  top: 30%;
  right: 20%;
}
/* line 290, /Users/torsten/liemba/css/story-styles.less */
#story-4 #text1_4 {
  top: 20%;
  left: 20%;
}
/* line 298, /Users/torsten/liemba/css/story-styles.less */
#story-5 * {
  position: absolute;
}
/* line 301, /Users/torsten/liemba/css/story-styles.less */
#story-5 #content_5 {
  position: relative;
  width: 850px;
  height: 560px;
  top: 50%;
  left: 50%;
  margin-left: -425px;
  margin-top: -280px;
}
/* line 310, /Users/torsten/liemba/css/story-styles.less */
#story-5 #content_5 #kiste_5 {
  right: 50px;
  bottom: 0px;
}
/* line 314, /Users/torsten/liemba/css/story-styles.less */
#story-5 #content_5 #telegramm_5 {
  top: 100px;
  left: 100px;
}
/* line 318, /Users/torsten/liemba/css/story-styles.less */
#story-5 #content_5 #text_5 {
  top: 0px;
  left: 200px;
}
/* line 322, /Users/torsten/liemba/css/story-styles.less */
#story-5 #content_5 #text1_5 {
  bottom: 0px;
  left: 0px;
}
/* line 326, /Users/torsten/liemba/css/story-styles.less */
#story-5 #content_5 #fragezeichen_5 {
  bottom: 0px;
  right: 0px;
}
/* line 336, /Users/torsten/liemba/css/story-styles.less */
#story-6 * {
  position: absolute;
}
/* line 339, /Users/torsten/liemba/css/story-styles.less */
#story-6 #content-wrapper_6 {
  position: relative;
  width: 850px;
  height: 560px;
  top: 50%;
  left: 50%;
  margin-left: -425px;
  margin-top: -280px;
}
/* line 349, /Users/torsten/liemba/css/story-styles.less */
#story-6 #content-wrapper_6 #aktie_6 {
  top: 120px;
  left: 120px;
}
/* line 353, /Users/torsten/liemba/css/story-styles.less */
#story-6 #content-wrapper_6 #faust_6 {
  background: url(../img/6/faust2.png);
  top: 120px;
  left: 370px;
  width: 314px;
  height: 276px;
}
/* line 360, /Users/torsten/liemba/css/story-styles.less */
#story-6 #content-wrapper_6 #faust_6:hover {
  background: url(../img/6/faust.png);
}
/* line 364, /Users/torsten/liemba/css/story-styles.less */
#story-6 #content-wrapper_6 #einladung_6 {
  background: url(../img/6/einladung.png);
  top: 0px;
  left: 0px;
  width: 236px;
  height: 193px;
}
/* line 371, /Users/torsten/liemba/css/story-styles.less */
#story-6 #content-wrapper_6 #briefmarke_6 {
  top: 70px;
  right: 100px;
}
/* line 375, /Users/torsten/liemba/css/story-styles.less */
#story-6 #content-wrapper_6 #siegel_6 {
  left: 100px;
  top: 360px;
}
/* line 379, /Users/torsten/liemba/css/story-styles.less */
#story-6 #content-wrapper_6 #afrsoldaten_6 {
  left: 120px;
  top: 295px;
}
/* line 382, /Users/torsten/liemba/css/story-styles.less */
#story-6 #content-wrapper_6 #afrsoldaten_6:hover {
  transform: translateY(-20px);
}
/* line 385, /Users/torsten/liemba/css/story-styles.less */
#story-6 #ship-wrapper_6 {
  width: 530px;
  height: 220px;
  bottom: 20%;
  right: 10%;
}
/* line 392, /Users/torsten/liemba/css/story-styles.less */
#story-6 #ship-wrapper_6 #schiff_6 {
  right: 0px;
  bottom: 0px;
}
/* line 396, /Users/torsten/liemba/css/story-styles.less */
#story-6 #ship-wrapper_6 #sprechblase_6 {
  top: 0px;
  right: 0px;
}
/* line 399, /Users/torsten/liemba/css/story-styles.less */
#story-6 #ship-wrapper_6 #sprechblase_6:hover {
  transform: translateY(-20px);
}
/* line 404, /Users/torsten/liemba/css/story-styles.less */
#story-7 * {
  position: absolute;
}
/* line 406, /Users/torsten/liemba/css/story-styles.less */
#story-7 #content_7 {
  position: relative;
  width: 830px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -415px;
  margin-top: -200px;
}
/* line 415, /Users/torsten/liemba/css/story-styles.less */
#story-7 #content_7 #kugel_7 {
  top: 50%;
  left: 50%;
}
/* line 420, /Users/torsten/liemba/css/story-styles.less */
#story-7 #content_7 #kanone_7 {
  top: 70px;
  left: 0px;
}
/* line 424, /Users/torsten/liemba/css/story-styles.less */
#story-7 #content_7 #soldaten_7 {
  right: 0px;
  top: 200px;
}
/* line 428, /Users/torsten/liemba/css/story-styles.less */
#story-7 #content_7 #sprechblase_7 {
  top: 35px;
  left: 450px;
}
/* line 431, /Users/torsten/liemba/css/story-styles.less */
#story-7 #content_7 #sprechblase_7:hover {
  transform: translateY(-20px);
}
/* line 433, /Users/torsten/liemba/css/story-styles.less */
#story-7 #content_7 #ausrufezeichen_7 {
  top: 20px;
  left: 40px;
}
/* line 436, /Users/torsten/liemba/css/story-styles.less */
#story-7 #content_7 #ausrufezeichen_7:hover {
  transform: translateY(-20px);
}
/* line 440, /Users/torsten/liemba/css/story-styles.less */
#story-7 #title_7 {
  top: 15%;
  left: 40%;
}
/* line 448, /Users/torsten/liemba/css/story-styles.less */
#story-8 * {
  position: absolute;
}
/* line 451, /Users/torsten/liemba/css/story-styles.less */
#story-8 #karte-wrapper_8 {
  position: relative;
  width: 670px;
  height: 530px;
  top: 50%;
  left: 50%;
  margin-left: -335px;
  margin-top: -265px;
}
/* line 460, /Users/torsten/liemba/css/story-styles.less */
#story-8 #karte-wrapper_8 #karte_8 {
  top: 80px;
  left: 0px;
}
/* line 464, /Users/torsten/liemba/css/story-styles.less */
#story-8 #karte-wrapper_8 #bismarckburg_8 {
  z-index: 9;
  left: 250px;
  top: -20px;
}
/* line 470, /Users/torsten/liemba/css/story-styles.less */
#story-8 #karte-wrapper_8 #burg_8 {
  z-index: 10;
  top: 0px;
  left: 20px;
}
/* line 477, /Users/torsten/liemba/css/story-styles.less */
#story-8 #welle_8 {
  bottom: 20%;
  right: 0%;
}
/* line 482, /Users/torsten/liemba/css/story-styles.less */
#story-8 #schiff-wrapper_8 {
  width: 500px;
  height: 400px;
  bottom: 20%;
  left: 0%;
}
/* line 488, /Users/torsten/liemba/css/story-styles.less */
#story-8 #schiff-wrapper_8 #schiff_8 {
  left: 0px;
  bottom: 0px;
}
/* line 492, /Users/torsten/liemba/css/story-styles.less */
#story-8 #schiff-wrapper_8 #sprechblase_8 {
  right: 0px;
  top: 0px;
}
/* line 495, /Users/torsten/liemba/css/story-styles.less */
#story-8 #schiff-wrapper_8 #sprechblase_8:hover {
  transform: translateY(-20px);
}
/* line 499, /Users/torsten/liemba/css/story-styles.less */
#story-8 #typo_8 {
  bottom: 0%;
  left: 20%;
}
/* line 506, /Users/torsten/liemba/css/story-styles.less */
#story-9 * {
  position: absolute;
}
/* line 508, /Users/torsten/liemba/css/story-styles.less */
#story-9 #schiff-wrapper_9 {
  position: relative;
  width: 710px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -355px;
  margin-top: -265px;
}
/* line 517, /Users/torsten/liemba/css/story-styles.less */
#story-9 #schiff-wrapper_9 #schiff_9 {
  top: 0px;
  left: 0px;
}
/* line 521, /Users/torsten/liemba/css/story-styles.less */
#story-9 #schiff-wrapper_9 #wellen_9 {
  left: 0px;
  bottom: 0px;
}
/* line 526, /Users/torsten/liemba/css/story-styles.less */
#story-9 #kampfeinsatz_9 {
  top: 0%;
  left: 0%;
}
/* line 530, /Users/torsten/liemba/css/story-styles.less */
#story-9 #soldaten_9 {
  bottom: 40%;
  right: 10%;
}
/* line 534, /Users/torsten/liemba/css/story-styles.less */
#story-9 #text_9 {
  top: 0%;
  right: 0%;
}
/* line 541, /Users/torsten/liemba/css/story-styles.less */
#story-10 * {
  position: absolute;
}
/* line 543, /Users/torsten/liemba/css/story-styles.less */
#story-10 #content-wrapper_10 {
  position: relative;
  width: 800px;
  height: 650px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -325px;
}
/* line 552, /Users/torsten/liemba/css/story-styles.less */
#story-10 #content-wrapper_10 #flieger_10 {
  top: 0%;
  right: 0%;
}
/* line 556, /Users/torsten/liemba/css/story-styles.less */
#story-10 #content-wrapper_10 #kanonen_10 {
  top: 40px;
  right: 0px;
}
/* line 561, /Users/torsten/liemba/css/story-styles.less */
#story-10 #content-wrapper_10 #schrift_10 {
  left: 0%;
  top: 0%;
}
/* line 567, /Users/torsten/liemba/css/story-styles.less */
#story-10 #schiff-wrapper_10 {
  width: 560px;
  height: 500px;
  bottom: 10%;
  left: 0%;
}
/* line 573, /Users/torsten/liemba/css/story-styles.less */
#story-10 #schiff-wrapper_10 #schiff_10 {
  bottom: 0px;
  left: 0px;
}
/* line 577, /Users/torsten/liemba/css/story-styles.less */
#story-10 #schiff-wrapper_10 #explosion_10 {
  bottom: 30px;
  left: 150px;
}
/* line 583, /Users/torsten/liemba/css/story-styles.less */
#story-10 #dorf_10 {
  top: 50%;
  left: 50%;
  margin-top: -223px;
  margin-left: -414px;
}
/* line 596, /Users/torsten/liemba/css/story-styles.less */
#story-11 * {
  position: absolute;
}
/* line 598, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 {
  position: relative;
  width: 800px;
  height: 700px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -500px;
}
/* line 607, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #ship-wrapper_11 {
  width: 625px;
  height: 600px;
}
/* line 611, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #ship-wrapper_11 #ship_11 {
  top: 0px;
  left: 0px;
}
/* line 616, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #ship-wrapper_11 #flag {
  top: 61px;
  left: 170px;
}
/* line 621, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #ship-wrapper_11 #bubble_11 {
  top: 0px;
  left: 20px;
}
/* line 626, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #ship-wrapper_11 #the26juli {
  top: 15px;
  left: 30px;
}
/* line 631, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #ship-wrapper_11 #arrow_down_11 {
  top: 272px;
  left: 0px;
}
/* line 636, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #ship-wrapper_11 #sandbag1 {
  top: 321px;
  left: 156px;
}
/* line 641, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #ship-wrapper_11 #sandbag2 {
  top: 262px;
  left: 117px;
}
/* line 646, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #ship-wrapper_11 #sandbag3 {
  top: 360px;
  left: 80px;
}
/* line 651, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #ship-wrapper_11 #sandbag4 {
  top: 422px;
  left: 200px;
}
/* line 656, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #ship-wrapper_11 #bagropes {
  top: 190px;
  left: 110px;
}
/* line 663, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #oil_big {
  top: 260px;
  right: 0px;
}
/* line 668, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #oilman {
  top: 163px;
  left: 582px;
}
/* line 673, /Users/torsten/liemba/css/story-styles.less */
#story-11 #wrapper11 #fish {
  top: 550px;
  left: 350px;
}
/* line 681, /Users/torsten/liemba/css/story-styles.less */
#story-12 * {
  position: absolute;
}
/* line 683, /Users/torsten/liemba/css/story-styles.less */
#story-12 #sign_1 {
  top: 5px;
  left: 300px;
}
/* line 687, /Users/torsten/liemba/css/story-styles.less */
#story-12 #no_1_1 {
  top: 80px;
  left: 340px;
}
/* line 691, /Users/torsten/liemba/css/story-styles.less */
#story-12 #no_9_1 {
  top: 80px;
  left: 420px;
}
/* line 695, /Users/torsten/liemba/css/story-styles.less */
#story-12 #no_1_2 {
  top: 80px;
  left: 500px;
}
/* line 699, /Users/torsten/liemba/css/story-styles.less */
#story-12 #no_6 {
  top: 80px;
  left: 580px;
}
/* line 703, /Users/torsten/liemba/css/story-styles.less */
#story-12 #ship_pickup {
  top: 200px;
  left: 200px;
}
/* line 707, /Users/torsten/liemba/css/story-styles.less */
#story-12 #waves {
  top: 480px;
  left: 150px;
}
/* line 711, /Users/torsten/liemba/css/story-styles.less */
#story-12 #wire_12 {
  top: 87px;
  left: 508px;
}
/* line 715, /Users/torsten/liemba/css/story-styles.less */
#story-12 #crane_right {
  top: 80px;
  left: 500px;
}
/* line 720, /Users/torsten/liemba/css/story-styles.less */
#story-12 #sign_2 {
  top: 1px;
  left: 1px;
}
/* line 724, /Users/torsten/liemba/css/story-styles.less */
#story-12 #no_1_3 {
  top: 1px;
  left: 1px;
}
/* line 728, /Users/torsten/liemba/css/story-styles.less */
#story-12 #no_9_2 {
  top: 1px;
  left: 1px;
}
/* line 732, /Users/torsten/liemba/css/story-styles.less */
#story-12 #no_2 {
  top: 1px;
  left: 1px;
}
/* line 736, /Users/torsten/liemba/css/story-styles.less */
#story-12 #no_0 {
  top: 1px;
  left: 1px;
}
/* line 740, /Users/torsten/liemba/css/story-styles.less */
#story-12 #rainy_cloud {
  top: 1px;
  left: 1px;
}
/* line 744, /Users/torsten/liemba/css/story-styles.less */
#story-12 #arrows_down {
  top: 1px;
  left: 1px;
}
/* line 748, /Users/torsten/liemba/css/story-styles.less */
#story-12 #ship_sink {
  top: 40px;
  left: 1px;
}
/* line 752, /Users/torsten/liemba/css/story-styles.less */
#story-12 #angery_waves {
  top: 1px;
  left: 1px;
}
/* line 760, /Users/torsten/liemba/css/story-styles.less */
#story-13 * {
  position: absolute;
}
/* line 762, /Users/torsten/liemba/css/story-styles.less */
#story-13 #wrapper13 {
  position: relative;
  width: 662px;
  height: 550px;
  top: 50%;
  left: 50%;
  margin-left: -331px;
  margin-top: -225px;
}
/* line 771, /Users/torsten/liemba/css/story-styles.less */
#story-13 #wrapper13 #man {
  top: 0px;
  left: 0px;
}
/* line 776, /Users/torsten/liemba/css/story-styles.less */
#story-13 #wrapper13 #crane_left {
  top: -150px;
  left: 0px;
}
/* line 782, /Users/torsten/liemba/css/story-styles.less */
#story-13 #wrapper13 #the16mars {
  top: 57px;
  left: 612px;
}
/* line 787, /Users/torsten/liemba/css/story-styles.less */
#story-13 #wrapper13 #arrows_up {
  top: 46px;
  left: 558px;
}
/* line 792, /Users/torsten/liemba/css/story-styles.less */
#story-13 #wrapper13 #flags {
  bottom: 0px;
  left: 0px;
}
/* line 797, /Users/torsten/liemba/css/story-styles.less */
#story-13 #wrapper13 #wire_13 {
  background: url(../img/shared/wire.png);
  top: -140px;
  left: 360px;
  width: 45px;
  height: 390px;
}
/* line 805, /Users/torsten/liemba/css/story-styles.less */
#story-13 #wrapper13 #ship_pickup_schief {
  top: 100px;
  left: 200px;
}
/* line 810, /Users/torsten/liemba/css/story-styles.less */
#story-13 #wrapper13 #great_britania {
  bottom: 0px;
  left: 50%;
  margin-left: -122px;
}
/* line 819, /Users/torsten/liemba/css/story-styles.less */
#story-14 * {
  position: absolute;
}
/* line 821, /Users/torsten/liemba/css/story-styles.less */
#story-14 #flasche_1 {
  top: 1px;
  left: 1px;
}
/* line 826, /Users/torsten/liemba/css/story-styles.less */
#story-14 #flasche_2 {
  top: 1px;
  left: 1px;
}
/* line 831, /Users/torsten/liemba/css/story-styles.less */
#story-14 #goetzen {
  top: 1px;
  left: 1px;
}
/* line 836, /Users/torsten/liemba/css/story-styles.less */
#story-14 #liemba_typo {
  top: 1px;
  left: 1px;
}
/* line 841, /Users/torsten/liemba/css/story-styles.less */
#story-14 #schiff {
  top: 1px;
  left: 1px;
}
/* line 846, /Users/torsten/liemba/css/story-styles.less */
#story-14 #ueberschrift {
  top: 1px;
  left: 1px;
}
/* line 854, /Users/torsten/liemba/css/story-styles.less */
#story-15 * {
  position: absolute;
}
/* line 856, /Users/torsten/liemba/css/story-styles.less */
#story-15 #ship_board {
  top: 273px;
  left: 386px;
}
/* line 860, /Users/torsten/liemba/css/story-styles.less */
#story-15 #passingers {
  top: 226px;
  left: 198px;
}
/* line 864, /Users/torsten/liemba/css/story-styles.less */
#story-15 #police {
  top: 108px;
  left: 450px;
}
/* line 868, /Users/torsten/liemba/css/story-styles.less */
#story-15 #ship_15 {
  top: 300px;
  left: 200px;
}
/* line 872, /Users/torsten/liemba/css/story-styles.less */
#story-15 #fluchtlingstransport {
  top: 37px;
  left: 65px;
}
/* line 879, /Users/torsten/liemba/css/story-styles.less */
#story-16 * {
  position: absolute;
}
/* line 881, /Users/torsten/liemba/css/story-styles.less */
#story-16 #wrapper16 {
  position: relative;
  width: 1024px;
  height: 768px;
  top: 50%;
  left: 50%;
  margin-left: -512px;
  margin-top: -384px;
}
/* line 890, /Users/torsten/liemba/css/story-styles.less */
#story-16 #wrapper16 #i1964_16 {
  top: 250px;
  left: 770px;
}
/* line 895, /Users/torsten/liemba/css/story-styles.less */
#story-16 #wrapper16 #iafroman_16 {
  top: 192px;
  left: 100px;
}
/* line 900, /Users/torsten/liemba/css/story-styles.less */
#story-16 #wrapper16 #ikarte_16 {
  top: 126px;
  left: 336px;
}
/* line 905, /Users/torsten/liemba/css/story-styles.less */
#story-16 #wrapper16 #iflagkontur_16 {
  top: 428px;
  left: 56px;
}
/* line 910, /Users/torsten/liemba/css/story-styles.less */
#story-16 #wrapper16 #ishif_16 {
  top: 328px;
  left: 262px;
}
/* line 915, /Users/torsten/liemba/css/story-styles.less */
#story-16 #wrapper16 #iafrobestatung_16 {
  top: 386px;
  left: 700px;
}
/* line 920, /Users/torsten/liemba/css/story-styles.less */
#story-16 #wrapper16 #igruendung_16 {
  top: 28px;
  left: 566px;
}
/* line 925, /Users/torsten/liemba/css/story-styles.less */
#story-16 #wrapper16 #ieigentum_16 {
  top: 600px;
  left: 612px;
}
/* line 933, /Users/torsten/liemba/css/story-styles.less */
#story-17 * {
  position: absolute;
}
/* line 935, /Users/torsten/liemba/css/story-styles.less */
#story-17 #wrapper17 {
  position: relative;
  width: 1024px;
  height: 768px;
  top: 50%;
  left: 50%;
  margin-left: -512px;
  margin-top: -384px;
}
/* line 944, /Users/torsten/liemba/css/story-styles.less */
#story-17 #wrapper17 #imarinero_17 {
  top: 486px;
  left: 60px;
}
/* line 949, /Users/torsten/liemba/css/story-styles.less */
#story-17 #wrapper17 #imotor_17 {
  top: 50px;
  left: 562px;
}
/* line 954, /Users/torsten/liemba/css/story-styles.less */
#story-17 #wrapper17 #ipfeilrechts_17 {
  top: 126px;
  left: 398px;
}
/* line 959, /Users/torsten/liemba/css/story-styles.less */
#story-17 #wrapper17 #ipfeilunten_17 {
  top: 300px;
  left: 848px;
}
/* line 964, /Users/torsten/liemba/css/story-styles.less */
#story-17 #wrapper17 #iradmachine_17 {
  top: 82px;
  left: 86px;
}
/* line 969, /Users/torsten/liemba/css/story-styles.less */
#story-17 #wrapper17 #ix_17 {
  top: 36px;
  left: 74px;
}
/* line 975, /Users/torsten/liemba/css/story-styles.less */
#story-17 #wrapper17 #iwolke_17 {
  top: 282px;
  left: 114px;
}
/* line 980, /Users/torsten/liemba/css/story-styles.less */
#story-17 #wrapper17 #ishiff_17 {
  top: 366px;
  left: 400px;
}
/* line 988, /Users/torsten/liemba/css/story-styles.less */
#story-18 * {
  position: absolute;
}
/* line 990, /Users/torsten/liemba/css/story-styles.less */
#story-18 #wrapper18 {
  position: relative;
  width: 1024px;
  height: 768px;
  top: 50%;
  left: 50%;
  margin-left: -512px;
  margin-top: -384px;
}
/* line 999, /Users/torsten/liemba/css/story-styles.less */
#story-18 #wrapper18 #ischif_18 {
  left: 552px;
  top: 132px;
}
/* line 1004, /Users/torsten/liemba/css/story-styles.less */
#story-18 #wrapper18 #iheadline_18 {
  left: 58px;
  top: 38px;
}
/* line 1008, /Users/torsten/liemba/css/story-styles.less */
#story-18 #wrapper18 #idampfmaschine_18 {
  left: 28px;
  top: 398px;
}
/* line 1013, /Users/torsten/liemba/css/story-styles.less */
#story-18 #wrapper18 #idieselmotor_18 {
  left: 306px;
  top: 334px;
}
/* line 1018, /Users/torsten/liemba/css/story-styles.less */
#story-18 #wrapper18 #izyliner_18 {
  left: 370px;
  top: 268px;
}
/* line 1023, /Users/torsten/liemba/css/story-styles.less */
#story-18 #wrapper18 #ix_18 {
  left: 28px;
  top: 398px;
}
/* line 1028, /Users/torsten/liemba/css/story-styles.less */
#story-18 #wrapper18 #icarstensen1_18 {
  left: 670px;
  top: 192px;
}
/* line 1033, /Users/torsten/liemba/css/story-styles.less */
#story-18 #wrapper18 #idieselmotoren_18 {
  left: 160px;
  top: 284px;
}
/* line 1041, /Users/torsten/liemba/css/story-styles.less */
#story-19 * {
  position: absolute;
}
/* line 1043, /Users/torsten/liemba/css/story-styles.less */
#story-19 #wrapper19 {
  position: relative;
  width: 1024px;
  height: 768px;
  top: 50%;
  left: 50%;
  margin-left: -512px;
  margin-top: -384px;
}
/* line 1052, /Users/torsten/liemba/css/story-styles.less */
#story-19 #wrapper19 #karte-wrapper_19 {
  position: relative;
  width: 426px;
  height: 483px;
  left: 117px;
  top: 267px;
}
/* line 1059, /Users/torsten/liemba/css/story-styles.less */
#story-19 #wrapper19 #karte-wrapper_19 #ikartee_19 {
  left: 0px;
  top: 0px;
}
/* line 1064, /Users/torsten/liemba/css/story-styles.less */
#story-19 #wrapper19 #karte-wrapper_19 #iuvirakigoma_19 {
  left: 0px;
  top: 0px;
}
/* line 1070, /Users/torsten/liemba/css/story-styles.less */
#story-19 #wrapper19 #istrahlen1_19 {
  left: 118px;
  top: 0px;
}
/* line 1075, /Users/torsten/liemba/css/story-styles.less */
#story-19 #wrapper19 #istrahlen2_19 {
  left: 118px;
  top: 0px;
}
/* line 1079, /Users/torsten/liemba/css/story-styles.less */
#story-19 #wrapper19 #i1997_19 {
  left: 178px;
  top: 44px;
}
/* line 1084, /Users/torsten/liemba/css/story-styles.less */
#story-19 #wrapper19 #iliemba_19 {
  left: 572px;
  top: 188px;
}
/* line 1089, /Users/torsten/liemba/css/story-styles.less */
#story-19 #wrapper19 #imenschen_19 {
  left: 318px;
  top: 330px;
}
/* line 1094, /Users/torsten/liemba/css/story-styles.less */
#story-19 #wrapper19 #i75tsd_19 {
  left: 363px;
  top: 216px;
}
/* line 1099, /Users/torsten/liemba/css/story-styles.less */
#story-19 #wrapper19 #iheadline_19 {
  left: 642px;
  top: 512px;
}
/* line 1104, /Users/torsten/liemba/css/story-styles.less */
#story-19 #wrapper19 #iwellen_19 {
  left: 555px;
  top: 453px;
}
/* line 1112, /Users/torsten/liemba/css/story-styles.less */
#story-20 * {
  position: absolute;
}
/* line 1114, /Users/torsten/liemba/css/story-styles.less */
#story-20 #wrapper20 {
  position: relative;
  width: 1024px;
  height: 768px;
  top: 50%;
  left: 50%;
  margin-left: -512px;
  margin-top: -384px;
}
/* line 1123, /Users/torsten/liemba/css/story-styles.less */
#story-20 #wrapper20 #i100jahre_20 {
  left: 188px;
  top: 46px;
}
/* line 1128, /Users/torsten/liemba/css/story-styles.less */
#story-20 #wrapper20 #iwichtigste_20 {
  left: 688px;
  top: 308px;
}
/* line 1133, /Users/torsten/liemba/css/story-styles.less */
#story-20 #wrapper20 #isee_20 {
  left: 178px;
  top: 534px;
}
/* line 1137, /Users/torsten/liemba/css/story-styles.less */
#story-20 #wrapper20 #iboot_20 {
  left: 552px;
  top: 506px;
}
/* line 1142, /Users/torsten/liemba/css/story-styles.less */
#story-20 #wrapper20 #iliembaa_20 {
  left: 154px;
  top: 238px;
}
/* line 1147, /Users/torsten/liemba/css/story-styles.less */
#story-20 #wrapper20 #izeicheng_20 {
  left: 940px;
  top: 326px;
}
/* line 1152, /Users/torsten/liemba/css/story-styles.less */
#story-20 #wrapper20 #izeichenk_20 {
  left: 806px;
  top: 296px;
}
