
/* IE */
@font-face {
 font-family:Din;
 src:url("../../liemba/fonts/DINReg.eot");
}
@font-face {
 font-family:Din;
 font-weight:bold;
 src:url("../../liemba/fonts/DINBol.eot");
}
@font-face {
 font-family:Din;
 font-weight:lighter;
 src:url("../../liemba/fonts/DINLig.eot");
}

/* Modern Browsers */
@font-face {
 font-family:Din;
 src:url("../../liemba/fonts/DINReg.ttf");
}
@font-face {
 font-family:Din;
 font-weight:bold;
 src:url("../../liemba/fonts/DINBol.ttf");
}
@font-face {
 font-family:Din;
 font-weight:lighter;
 src:url("../../liemba/fonts/DINLig.ttf");
}


/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#00809e;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#00809e;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#00809e;
	color:#FFF;
	text-shadow:none;
}


/* global box-sizing */
*,
*:after,
*:before {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	text-decoration:none;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #000000;
}