
/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

body {
	font:300 11px/1.4 Din, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#FFF;
	background-color: #FFF;
}


/* wrapper */
.wrapper {
	width:100%;
	position:relative;
	overflow: hidden;
}
/* header */
.header {
	
}

/* logo */
.logo {
	width: 230px;
}
.logo-img {
	
}

#bomb{
	background: rgba(255,255,255,0.8);
	color: #000;
	padding: 8px;
	font-size: 1.2em;
	line-height: 1.5em;
}
/* nav */
.nav {
	white-space: nowrap;
}

.menu > ul{
	margin: 0 0 0 0;
	padding: 0;
}

.page_item, .donation-item{
	text-transform: uppercase;
}

.page_item {	
	margin: 7px 0;
	text-align: right;
	text-transform: uppercase;
	font-size: 1.5em;	

	/*background-color: #00b0e3;  remove when bakground images available */
	white-space: nowrap;
}

.white-item {
	background-color: #FFFFFF;
	outline: 1px solid #FFFFFF;	
	outline-offset: 1px;
	opacity: 0.925;
}

.black-item{
	border: 1px solid black;
	outline: 1px solid black;
	outline-offset: 1px;
}

.page_item a, .donation-item a{	
	line-height: 43px;
	color: #FFF;
	margin: 0 auto;
	padding: 0 15px;
}

.page_item a:focus{
	color: #000;
}

.page_item.hover .children {
	display: block;
}

.children {
	display: none;
}

.children .page_item{
	cursor: pointer;
}
/* sidebar */

#donation-wrapper{
	padding: 0;
	margin: 0;
	list-style: none;
}

.donation-item{
	color: #FFF;
	padding: 3px;
	line-height: 35px;
}

.donation-item h1, .donation-item p{
	line-height: 38px;
	display: inline;
}

.donation-item h1{
	margin: 0;
	float: left;
	padding-left: 5px;
	font-size: 1em;
}

.donation-item p{
	float: right;
	margin: 0 5px;
	font-size: 0.8em;
	font-weight: bold;
}

#news-ticker-wrapper{
	height: 150px;
}

#news-ticker-wrapper h1{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 2.6em;
	margin: 0 0 5px 0;

}
#news-ticker{ /* plugin */
	margin-left: 5px;
}

.tickerDate{
	display: block;
	font-size: 1.1em;
}

.tickerLink{
	font-size: 1.6em;
	display: block;
}

.tickerText{
	font-size: 1.4em;
	margin: 2px 0;
	display: block;
}
#sidebar-and-content{
	color: #000;
}
/* main content wrap */
#content-wrapper{
	color: #000;
	background-color: #FFF;
}

#content-wrapper input[type=submit]{
	background-color: #40ab4d;
	color: #FFF;
	border: 0;
	outline: 1px solid #40ab4d;
	outline-offset: 1px;
	padding: 10px;
}

#content-wrapper textarea{
	border: 1px dashed #00809e;
	padding: 10px;
}

#content-wrapper textarea:focus{
	border: 1px solid #00809e;
}

#social-wrapper{
	right:0;
	margin-top: -39px;
}
#social-wrapper img{
	display: block;
	margin: 2px;
}

#search-and-info{
	padding: 5px;
	background-color: #00b0e3;
	padding: 3px 10px;
}
/* search */
.search {
	height: 41px;
	position: relative;
}

.search label{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.search-input{
	border: 1px solid #000;
	height: 20px;
	width: 235px;
}
.search-submit{
	position: absolute;
	display: none;/*no icon */
	border: 0;
	top: 9px;
	right: 5px;
	height: 30px;
	width: 35px;
	
	cursor: pointer;
	*background: url(../../liemba/img/icons/search.png) no-repeat;
	text-indent: -999px
}

.copyright{
	font-size: 1em;
	float: right;
	padding-right: 4px;
}

.footer-widget-wrapper{
	margin: 0 auto;
	width: 100%;
}



/*------------------------------------*\
	DONATIONS
\*------------------------------------*/

.project-entry{
	width: 100%;
	margin: 10px 0;
	border-bottom: 1px solid #000;
	max-height: 350px;
	overflow: hidden;
}

.project-content, .project-image{
	vertical-align: top;
}

.project-image{
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
}

.project-content{

}

.project-content h3{
	font-size: 2em;
	margin: 10 0 20px 0;
}

.project-donate-button{
	float: right;
	width: 100px;
	height: 40px;
	color: #FFF;
	text-align: center;
	line-height: 38px;
	font-size: 1.3em;
	font-weight: bold;
	margin: 3px;
}

.project-donation-frame{
	background: transparent url('http://www.betterplace.org/assets/new_spinner.gif') 275px 20px no-repeat;
}

#betterplace_donation_iframe{
	width: 100%;
}
#betterplace_donation_iframe iframe{
	width: 100%;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

   
/* media queries */




/* IE */
@font-face {
 font-family:Din;
 src:url("../../liemba/fonts/DINReg.eot");
}
@font-face {
 font-family:Din;
 font-weight:bold;
 src:url("../../liemba/fonts/DINBol.eot");
}
@font-face {
 font-family:Din;
 font-weight:lighter;
 src:url("../../liemba/fonts/DINLig.eot");
}

/* Modern Browsers */
@font-face {
 font-family:Din;
 src:url("../../liemba/fonts/DINReg.ttf");
}
@font-face {
 font-family:Din;
 font-weight:bold;
 src:url("../../liemba/fonts/DINBol.ttf");
}
@font-face {
 font-family:Din;
 font-weight:lighter;
 src:url("../../liemba/fonts/DINLig.ttf");
}


/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#00809e;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#00809e;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#00809e;
	color:#FFF;
	text-shadow:none;
}


/* global box-sizing */
*,
*:after,
*:before {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	text-decoration:none;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #000000;
}

