@media all and (max-width: 480px) {

	body{
		padding: 8px;
	}

	.wrapper{
		padding: 2px;
	}

	#bomb{
		/*width: 100%;
		padding: 5px;*/
		display:none;
	}

	.sidebar {
		display: block;
		width: 100%;
	}

	ul, li{
		padding: 0;
		margin: 0;
	}
	.logo{
		width: 100%;
	}
	.logo-img{
		display: block;
		margin: 2px auto;
		margin-bottom: 21px;
	}

	.menu > ul{
		margin: 10px 0;
	}

	.page_item.expanded ul.children{ display: block; }

	.page_item{
		position: relative;
		width: 100%;
		margin: 9px auto;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.children .page_item{
		font-size: 17px;
		border-top: 1px dotted #FFF;
		font-weight: lighter;
	}

	.page_item a{
		display: table;
		text-align: center;
		line-height: inherit;
		padding: 5px 0;

	}

	.page_item, .blue-item { background-color: #00b0e3; }
	.white-item { background-color: #FFFFFF; }	
	.page-item-327 { background-color: #40ab4d !important; }/* donation page */

	#news-ticker-wrapper{
		margin: 12px auto;
		width: 100%;
		padding: 0 5px;
	}

	#content-wrapper{
		width: 100%;
		padding: 5px;
		word-wrap:break-word;
		margin-bottom: 50px;
	}

	#content-wrapper h1{
		font-weight: normal;
		font-size: 2.6em;
		margin: 0 0 5px 0;
	}

	#content-wrapper p{
		font-size: 1.5em;
	}

	#social-wrapper{
		top: 41px;
		right: 0;
		position: absolute;
	}

	footer{
		background-color: #00b0e3; 
		width: 100%;
		padding: 5px;
	}

	#info{
		width: 100%;
		padding: 5px;
	}

	#info a{
		color: #FFF;
	}

	.footer-widget-wrapper{
		margin-bottom: 10px;
	}

	.footer-widget{
		cursor: not-allowed;
		float: left;
		font-weight: bold;
		display: inline-block;
		height: 90px;
		width: 48%;
		padding: 10px;
		text-align: right;
		font-size: 13px;
		text-transform: uppercase;
		background-color: #737373;
	}
	.footer-widget:after{
		content: "ist auf mobilen Geräten nicht verfügbar";
	}
	.footer-widget:last-child{
		float: right;
	}
}