@media all and (min-width: 481px) {

	.logo, #bomb{
		margin-top: 30px;
	}

	.logo{
		width: 144px;
		height: 76px;
	}

	#bomb{
		float: right;
		width: 323px;
	}

	.logo, .sidebar{
		margin-left: 2px;/* counter outline clipping */
	}

	.sidebar {
		float: left;
		width: 186px;
		margin-bottom: 21px;
	}

	nav{ 
		margin-left: 17px;
	}

	#donation-wrapper{
		width: 282px;
	}

	.page_item:first-child{
		margin-top: 0px;
	}

	.page_item, .donation-item{
		height: 41px;
		width: 124px;
		margin: 2px 0;
		font-size: 1.5em;
		
	}

	.page_item{
		position: relative;
		background: url(../../liemba/img/backgrounds/button_lightBlue.png);
	}

	.page_item:hover{
		background: url(../../liemba/img/backgrounds/button_darkBlue.png);		
	}

	.current_page_item, .current_page_ancestor{
		background: url(../../liemba/img/backgrounds/button_zacke_lightBlue.png);
	}

	.current_page_item:hover, .current_page_ancestor:hover{
		background: url(../../liemba/img/backgrounds/button_zacke_darkBlue.png);
	}

	.page_item a{
		display: block;
		float: right;
		font-weight: bold;
	}

	.blue-item {
		background-color: #00b0e3;
		outline: 1px solid #00b0e3;	
		outline-offset: 1px;
		opacity: 0.97;
	}

	.blue-item:hover {
		outline: 1px solid #00b0e3 !important;
		opacity: 0.99;
	}


	.green-item{
		background-color: #40ab4d !important;
		outline: 1px solid #40ab4d;
		outline-offset: 1px;
		opacity: 0.97;
	}

	.children{
		position: absolute;
		top: -17px;
		right: -126px;
		z-index: 15;
	}

	.children .page_item{
		font-size: 1em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.current_page_item:hover, .current_page_ancestor:hover{
		background: url(../../liemba/img/backgrounds/button_zacke_darkBlue.png) !important;
	}

	#donation-status-wrapper{
		float: left;
		width: 370px;
		margin: 30px 0;
	}

	.donation-item{
		width: 137px;
		text-align: right;
		float: left;
		background: url(../../liemba/img/backgrounds/button_lightGreen.png);
	}

	.donation-item:hover{
		background: url(../../liemba/img/backgrounds/button_darkGreen.png);
	}

	.donation-item:last-child{

		background-image: none;
		margin-left: 4px;

	}
	.donation-item a{
		display: block;
		padding-right: 20px;
	}

	#news-ticker-wrapper{
		width: 282px;
		float: left;
		height: 101px;
		margin-top: 24px;
		padding: 5px 10px;
	}

	#news-ticker-wrapper h1{
		font-size: 1.9em;
	}

	#sidebar-and-content{
		padding: 2px;
		margin-top: 10px;
		margin-bottom: 110px;
	}

	#content-wrapper{
		width: auto;
		padding: 5px 10px 5px;
		overflow: hidden;
		margin-right: 50px;
		background-color: rgba(255,255,255,0.97);
	}

	#content-wrapper h1{
		font-weight: normal;
		font-size: 2.6em;
		margin: 3px 0;
	}

	#content-wrapper p{
		font-size: 1.4em;
		line-height: 1.2em;
	}

	#social-wrapper{
		top: 50%;
		position: fixed;
		z-index: 10;
	}

	#info{
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 5px;
		font-size: 1.2em;
		text-align: right;
	}

	#info a{
		color: #FFF;
	}

	.footer {
		margin-top: 5px;
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	.search{
		width: 282px;
	}

	.search label{
		vertical-align: bottom;
		margin: 0 5px;
		position: relative;
		top: 12px;
	}

	.footer-widget-wrapper{
		margin: 0 auto;
		width: 590px;

	}

	
	.footer-widget{
		cursor: not-allowed;
		padding: 18px 22px;
		font-weight: bold;
		display: inline-block;
		height: 101px;
		width: 282px;
		text-align: right;
		font-size: 24px;
		vertical-align: top;
		text-transform: uppercase;
		margin: 0 4px;
	}
}


@media all and (max-width: 750px) {
	#content-wrapper{
		overflow: visible;
		margin-left: 21px;
	}
	.sidebar{
		float: none;
	}
}